body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    margin-right: 10px;
}

.titulo-logo {
    font-size: 24px;
    font-weight: bold;
}

.add-relatorio {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-relatorio p {
    margin: 0;
}

.form-container {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info-relatorio {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
}

.save {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.relatorios-list {
    margin-top: 20px;
}

.relatorio-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
