@import 'Header.css';
@import 'Sidenav.css';
@import 'Main.css';
@import 'Main2.css';

body{
    border: 15px solid #fff;
    display: grid;
    grid-template-columns: 405px 1fr;
    grid-template-rows: 100px 884px;
    grid-template-areas: 
    'header header'
    'sidenav main'
    'sidenav main';
    gap: 16px;
    
    
}



/* body{
    border: 25px solid #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'sidenav main';
   
              
} */
